<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lu.fm.mapper.FmSkillMapper">
  <resultMap id="BaseResultMap" type="cn.lu.fm.entity.FmSkill">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="skill_name" jdbcType="VARCHAR" property="skillName" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="skill_type" jdbcType="TINYINT" property="skillType" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>